* {
    padding: 0px;
    margin: 0px;
}

header, nav, section, article, aside, footer, div, figure, figcaption{
    display: block;
}

header{
    height: 160px;
}

body{
    text-align: center;
    background: #f0ecec;
    font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
    text-shadow: 0px 0px 1px transparent;
}

#divPrincipal{
    text-align: left;
    margin: auto;
    width: 1024px;
}

#slider{
    background-color: #fff;
    width: 630px;
	height: 365px;
	margin-left: auto;
	margin-right: auto;
}

article{
    height: 330px;;
}

article h4{
    color: #3D94DB;
    margin: 0 20px;
    border-bottom: 2px solid #3D94DB;
}

footer{
    height: 130px;
    background-color: #dddddd;
}

figure{
    display: inline-block;
    margin: 30px 5px;
}


footer{
    clear: both;
}

#links li{
    color: #666;
    float: left;
    list-style-type: none;
    padding: 0 10px;
    border-right: 1px solid gray;
    margin-top: 25px;
}

.vinA{
    background: #3D94DB;
    color: white;
    text-align: center;
}

.vinY {
color: #3d94db;
text-align: center;
}

.vinC {
color: #3d94db;
text-align: center;
font: bold;
}

/*a.blue:link {color:#0000BB;}
a.blue:visited {color:#0000BB;}
a.blue:hover {color:#0011AA;}
a.blue:active {color:#00EEDD}*/

.dir{
	clear: left;
	text-align: center;
	color: #666;
}
.newslist{
	height: 290px;
	overflow-y: scroll;
}
.news{
    margin: 0;
    padding: 0;
    /*margin-bottom: 20px;*/
}
.news li{
	color: #666;
    float: left;
    list-style-type: none;
    /*margin-top: 30px;*/
}

#alumnos img{
    float: left;
    padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

img.center{
	display: block;
	margin: 0 auto;
}

th{
	width: 50%;
}


/*.news a{
    background-color: #bcbcbc;
    padding: 20px 217px;
}.news a:hover,.more:hover{background-color: #887db9;}*/

.more{
   float: right; 
   background-color: #bcbcbc;
   padding: 3px 25px;
   margin-right: 2px; 
}
/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#f0ecec;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:960px;/*960*/
background:#fff;
margin:30px auto 30px auto;
padding:0;
border:1px solid #ccc;
}

.menu{
    margin-bottom: 10px;
}


#footer{
text-align:center;
padding:20px;
margin:0;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}

	#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}

/*
    Slideswhow
*/